.header {
  background-color: #355070;
  height: 55px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 20px;
  &__link {
    color: #f7ede2;
    user-select: none;
    &:visited,
    &:link {
      color: #f7ede2;
    }

    &:hover {
      color: #ffcdb2;
    }
  }

  .menu__link--active {
    color: #e56b6f;
    cursor: default;
    user-select: none;
  }
}
