.footer {
  background-color: #355070;
  height: 55px;
  padding: 0px 20px;
  display: flex;
  align-items: center;

  &__inner {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
  }

  &__gh-link,
  &__rsschool-link,
  &__copyright {
    color: #f7ede2;
    user-select: none;
  }

  &__copyright {
    cursor: default;
  }

  &__gh-link,
  &__rsschool-link {
    &:visited,
    &:link {
      color: #f7ede2;
    }
    
    &:hover {
      color: #ffcdb2;
    }
  }
}