.notfound-page  {
  min-height: calc(100vh - 110px);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8d3636;

  &__warning {
    color: #fae6d1;
    font-size: 24px;
    text-align: center;
  }

  &__home-link {
    color: #e6a965;
    user-select: none;
  }

  &__home-link {
    &:visited,
    &:link {
      color: #e6a965;
    }
    
    &:hover {
      color: #ffcdb2;
    }
  }
}